<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
  </head>
  <body>
    <h1>Passwordless - Example: Simple-Mail</h1>
    <ul>
      <li>
        <a href='/login'>Register</a>
      </li>
      <li>
        <a href='/restricted'>Restricted page (Only accessible for authenticated users)</a>
      </li>
    </ul>
  </body>
</html>