<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
  </head>
  <body>
    <h1>Passwordless - Register</h1>
    <p>
    <form action="/sendtoken" method="POST">
      Email:
      <br><input name="user" type="text">
      <br><input type="submit" value="Register">
    </form>
    </p>
    <ul>
      <li>
        <a href='/'>Back to homepage</a>
      </li>
    </ul>
  </body>
</html>